@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@theme {
  --color-background: #000238;
  --color-heading: #000000;
  --color-badges: #59B947;
  --color-badge-bg: #EEF8EC;
  --color-icons: #016630;
  --color-card-background: #EAF5FA;
  --color-text-color: #364153;
  --color-footer-text: #364153;
  --color-hero-text: #E5E7EB;
  --color-button-bg: #59B947;
  --color-button-hover: #7AC76C;

  --font-sans: "Montserrat", sans-serif;
}
::-webkit-scrollbar{
    display: none;
}

/* 
@theme {
  --color-background: #063822;
  --color-heading: #0B1F17;
  --color-badges: #0F6B45;
  --color-badge-bg: #EAF5EE;
  --color-icons: #0F6B45;
  --color-card-background: #F0F7F3;
  --color-text-color: #364153;
  --color-footer-text: #364153;
  --color-hero-text: #E5E7EB;
  --color-button-bg: #0F6B45;
  --color-button-hover: #12855A;

  --font-sans: "Montserrat", sans-serif;
} */



@theme {
  --animate-whatsapp-pulse: whatsapp-pulse 2s infinite;

  @keyframes whatsapp-pulse {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }
    70% {
      transform: scale(1.25);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}